h1, h3{
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.maincarousel h1{
  font: 900 54px/49px arial sans-serif;
  color: #fff;
 
}
.connect-div{
  background: #011f00;
  align-content: center;
  justify-content: center;
  margin: auto;  
}
.trio-div{
  background: #fafafa;
  align-content: center;
  justify-content: center;
  margin: auto;  
}

.about-div{
  background: grey;
  align-content: center;
  justify-content: center;
  margin: 30px 40px;  
}

.form-tag{
  font: 600 44px/36px;
  color: #000;
}
.card-img-top {
  width: 100%;
  height: 35vw;
  border-radius: 10% !important;
  object-fit: cover;
}
.sign-text{
  font: 700 2.5em/2em;
  text-decoration: none;
  color: #000;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.maincarousel p{
  font: 300 34px/29px arial sans-serif;
}

.cauroselbox div{
  width: 802px;
  height: 221px;
  background: #011f00;
  opacity: 60%;
  border: 2px solid red;
}

ul{
  list-style-type: none;
}
.text-secondary{
  text-decoration: none;
}
span .fab, .fa{
  margin: 5px;
  padding: 3px;
  color: #fff;
  font: 300 21px/19px;
}
.wrapper span .fab{
  margin: 5px;
  padding: 3px;
  color: #000;
  font: 300 21px/19px;
}

.bg-image {
  background-image: url(./background.jpg);
  background-size: cover;
  min-height: 50vh;
  position: relative;
  
}
.bg-image1 {
  background-image: url(./background1.jpg);
  background-size: cover;
  
  min-height: 80vh;
  position: relative;
}

div .img-holder {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}